
/* CADASTRO.css */

/* Paleta */
:root {
  --azul: #007bff;    
  --preto: #000000;   
  --cinza: #2c2c2c;   
  --branco: #ffffff;  
  --verde: #a6ff00;   
  --radius: 16px;
  --shadow: 0 8px 32px rgba(0,0,0,0.25);
}

/* Reset */
*{margin:0;padding:0;box-sizing:border-box;font-family: "Segoe UI", Roboto, sans-serif;}
html, body {height:100%;}

/* Fundo diagonal */
body {
  display:flex;
  align-items:center;
  justify-content:center;
  min-height:100vh;
  background: linear-gradient(-120deg, var(--cinza) 48%, var(--branco) 48%);
  overflow:hidden;
}

/* Card Cadastro (igual ao login) */
.Cadastro {
  background: rgba(255,255,255,0.9);
  backdrop-filter: blur(10px);
  padding: 40px 30px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  width: 100%;
  max-width: 380px;
  text-align:center;
  animation: fadeIn 0.8s ease;
}

/* Animação */
@keyframes fadeIn {
  from { opacity:0; transform:translateY(20px); }
  to { opacity:1; transform:translateY(0); }
}

/* Título */
h1 {
  font-size:2rem;
  margin-bottom:25px;
  color: var(--preto);
  font-weight:900;
  letter-spacing:-0.5px;
}

/* Inputs */
input[type="text"],
input[type="email"],
input[type="password"]
{
  width:100%;
  padding:12px 14px;
  border-radius:30px;
  border:2px solid transparent;
  background:#f4f4f4;
  font-size:1rem;
  outline:none;
  color: var(--preto);
  margin-bottom:12px;
  transition:all 0.3s ease;
}

input::placeholder { color:#666; }

input:focus {
  border-color: var(--azul);
  box-shadow: 0 0 8px rgba(0,123,255,0.4);
  background:#fff;
}

/* Botão */
button[type="submit"] {
  width:100%;
  padding:14px;
  background: linear-gradient(90deg, var(--verde), #caff4d);
  color: var(--preto);
  font-size:1.1rem;
  font-weight:bold;
  border:none;
  border-radius:30px;
  cursor:pointer;
  transition: all 0.3s ease;
  box-shadow: 0 6px 20px rgba(166,255,0,0.3);
}
button[type="submit"]:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 28px rgba(166,255,0,0.5);
}
button[type="submit"]:active {
  transform: translateY(-1px);
}

/* Link para login */
a {
  display:block;
  margin-top:15px;
  font-size:0.9rem;
  color: var(--azul);
  text-decoration:none;
  font-weight:bold;
  transition:color 0.3s;
}

a:hover { text-decoration:underline; }


.logo img {
  width: 100px;
  height: auto;
  display: flex;
  align-content: center;
  position:sticky;
  justify-items: center;
  margin-left: 35%;

}

#plano{
  width:100%;
  padding:12px 14px;
  border-radius:30px;
  border:2px solid transparent;
  background:#f4f4f4;
  font-size:1rem;
  outline:none;
  color: var(--preto);
  margin-bottom:12px;
  transition:all 0.3s ease;
}

#plano::placeholder { color:#666; }

#plano:focus {
  border-color: var(--azul);
  box-shadow: 0 0 8px rgba(0,123,255,0.4);
  background:#fff;
}


label{
  width:100%;
  font-size:1.2rem;
  color: var(--preto);
  margin-bottom:20px;
}