:root {
  --azul: #007bff;    
  --preto: #000000;   
  --cinza: #2c2c2c;   
  --branco: #ffffff;  
  --verde: #a6ff00;   
  --radius: 16px;
  --shadow: 0 8px 32px rgba(0,0,0,0.25);
}


#roupa img {
    border-radius: var(--radius);
    width: 100%;
    height: auto;
    box-shadow: var(--shadow);
    align-items: center;
    display: flex;
}